@import "./utils.css";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

body {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 14px; line-height: 20px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  margin: 0; padding: 0;
  box-sizing: border-box;
  appearance: none; border: none;
}

::selection {
  background: rgba(103, 118, 150, 0.38);
}
