@import "./utils.css";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

body {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 14px; line-height: 20px;
  background: #282c34;
}

*, *::before, *::after {
  margin: 0; padding: 0;
  box-sizing: border-box;
  appearance: none; border: none;
}

::selection {
  background: rgba(103, 118, 150, 0.38);
}

::-webkit-scrollbar { width: 12px; height: 12px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(78,86,102,0.4); }
::-webkit-scrollbar-thumb:hover { background: rgba(90,99,117,0.5); }
::-webkit-scrollbar-thumb:active { background: rgba(116,125,145,0.5); }
::-webkit-scrollbar-corner { background: transparent; }
