.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.table {
  display: table
}

.table-row {
  display: table-row
}

.table-cell {
  display: table-cell
}

.hidden {
  display: none
}

.flex-1 {
  flex: 1 1 0%
}

.flex-none {
  flex: 0 0 auto
}

.h-4 {
  height: 4px
}

.h-8 {
  height: 8px
}

.h-12 {
  height: 12px
}

.h-16 {
  height: 16px
}

.h-24 {
  height: 24px
}

.h-32 {
  height: 32px
}

.h-40 {
  height: 40px
}

.h-48 {
  height: 48px
}

.h-60 {
  height: 60px
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-visible {
  overflow: visible
}

.overflow-scroll {
  overflow: scroll
}

.overflow-x-auto {
  overflow-x: auto
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.overflow-y-hidden {
  overflow-y: hidden
}

.overflow-x-visible {
  overflow-x: visible
}

.overflow-y-visible {
  overflow-y: visible
}

.overflow-x-scroll {
  overflow-x: scroll
}

.overflow-y-scroll {
  overflow-y: scroll
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch
}

.scrolling-auto {
  -webkit-overflow-scrolling: auto
}

.text-1 {
  color: #f7fafc
}

.text-2 {
  color: #edf2f7
}

.text-3 {
  color: #e2e8f0
}

.text-4 {
  color: #cbd5e0
}

.text-5 {
  color: #a0aec0
}

.text-6 {
  color: #718096
}

.text-7 {
  color: #4a5568
}

.text-8 {
  color: #2d3748
}

.text-9 {
  color: #1a202c
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none
}

.select-text {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text
}

.select-all {
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all
}

.select-auto {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto
}

.w-4 {
  width: 4px
}

.w-8 {
  width: 8px
}

.w-12 {
  width: 12px
}

.w-16 {
  width: 16px
}

.w-24 {
  width: 24px
}

.w-32 {
  width: 32px
}

.w-40 {
  width: 40px
}

.w-48 {
  width: 48px
}

.w-60 {
  width: 60px
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

.bg-1 {
  background-color: #f7fafc
}

.bg-2 {
  background-color: #edf2f7
}

.bg-3 {
  background-color: #e2e8f0
}

.bg-4 {
  background-color: #cbd5e0
}

.bg-5 {
  background-color: #a0aec0
}

.bg-6 {
  background-color: #718096
}

.bg-7 {
  background-color: #4a5568
}

.bg-8 {
  background-color: #2d3748
}

.bg-9 {
  background-color: #1a202c
}

.font-mono {
  font-family: Source Code Pro, monospace
}

.p-4 {
  padding: 4px
}

.p-8 {
  padding: 8px
}

.p-12 {
  padding: 12px
}

.p-16 {
  padding: 16px
}

.p-24 {
  padding: 24px
}

.p-32 {
  padding: 32px
}

.p-40 {
  padding: 40px
}

.p-48 {
  padding: 48px
}

.p-60 {
  padding: 60px
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px
}

.pt-4 {
  padding-top: 4px
}

.pr-4 {
  padding-right: 4px
}

.pb-4 {
  padding-bottom: 4px
}

.pl-4 {
  padding-left: 4px
}

.pt-8 {
  padding-top: 8px
}

.pr-8 {
  padding-right: 8px
}

.pb-8 {
  padding-bottom: 8px
}

.pl-8 {
  padding-left: 8px
}

.pt-12 {
  padding-top: 12px
}

.pr-12 {
  padding-right: 12px
}

.pb-12 {
  padding-bottom: 12px
}

.pl-12 {
  padding-left: 12px
}

.pt-16 {
  padding-top: 16px
}

.pr-16 {
  padding-right: 16px
}

.pb-16 {
  padding-bottom: 16px
}

.pl-16 {
  padding-left: 16px
}

.pt-24 {
  padding-top: 24px
}

.pr-24 {
  padding-right: 24px
}

.pb-24 {
  padding-bottom: 24px
}

.pl-24 {
  padding-left: 24px
}

.pt-32 {
  padding-top: 32px
}

.pr-32 {
  padding-right: 32px
}

.pb-32 {
  padding-bottom: 32px
}

.pl-32 {
  padding-left: 32px
}

.pt-40 {
  padding-top: 40px
}

.pr-40 {
  padding-right: 40px
}

.pb-40 {
  padding-bottom: 40px
}

.pl-40 {
  padding-left: 40px
}

.pt-48 {
  padding-top: 48px
}

.pr-48 {
  padding-right: 48px
}

.pb-48 {
  padding-bottom: 48px
}

.pl-48 {
  padding-left: 48px
}

.pt-60 {
  padding-top: 60px
}

.pr-60 {
  padding-right: 60px
}

.pb-60 {
  padding-bottom: 60px
}

.pl-60 {
  padding-left: 60px
}

.rounded-4 {
  border-radius: 4px
}

.rounded-full {
  border-radius: 999px
}

.rounded-t-4 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

.rounded-r-4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.rounded-b-4 {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.rounded-l-4 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px
}

.rounded-t-full {
  border-top-left-radius: 999px;
  border-top-right-radius: 999px
}

.rounded-r-full {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px
}

.rounded-b-full {
  border-bottom-right-radius: 999px;
  border-bottom-left-radius: 999px
}

.rounded-l-full {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px
}

.rounded-tl-4 {
  border-top-left-radius: 4px
}

.rounded-tr-4 {
  border-top-right-radius: 4px
}

.rounded-br-4 {
  border-bottom-right-radius: 4px
}

.rounded-bl-4 {
  border-bottom-left-radius: 4px
}

.rounded-tl-full {
  border-top-left-radius: 999px
}

.rounded-tr-full {
  border-top-right-radius: 999px
}

.rounded-br-full {
  border-bottom-right-radius: 999px
}

.rounded-bl-full {
  border-bottom-left-radius: 999px
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.flex-col-reverse {
  flex-direction: column-reverse
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: -webkit-sticky;
  position: sticky
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.inset-y-0 {
  top: 0px;
  bottom: 0px
}

.inset-x-0 {
  right: 0px;
  left: 0px
}

.top-0 {
  top: 0px
}

.right-0 {
  right: 0px
}

.bottom-0 {
  bottom: 0px
}

.left-0 {
  left: 0px
}

.m-auto {
  margin: auto
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-auto {
  margin-top: auto
}

.mr-auto {
  margin-right: auto
}

.mb-auto {
  margin-bottom: auto
}

.ml-auto {
  margin-left: auto
}

.leading-1 {
  line-height: 1
}

.leading-16 {
  line-height: 16px
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-justify {
  text-align: justify
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.items-stretch {
  align-items: stretch
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.shadow-lg {
  box-shadow: 
        0 10px 15px -3px rgba(0,0,0,.2),
        0 4px 6px -2px rgba(0,0,0,.1)
      
}

.font-400 {
  font-weight: 400
}

.font-500 {
  font-weight: 500
}

.font-600 {
  font-weight: 600
}

.font-700 {
  font-weight: 700
}

.font-900 {
  font-weight: 900
}

.text-14 {
  font-size: 14px
}

.text-32 {
  font-size: 32px
}

.text-96 {
  font-size: 96px
}

.underline {
  text-decoration: underline
}

.line-through {
  text-decoration: line-through
}

.no-underline {
  text-decoration: none
}

.-tracking-1 {
  letter-spacing: -1px
}
